.introProjects{
    position: relative;
    padding: 20px;
    border-radius: 10px;
}


.project-group{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    grid-gap: 2em;
    width: fit-content;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 10px;
    height: fit-content;
    padding: 50px;
}

.project-group-title{
    margin: 30px auto;
    width: fit-content;
    font-size: x-large;
    font-weight: 600;
}

.project-title{
    font-size: larger;
}

#prompt-one{
    transition: 0.5s;
}

#prompt-two{
transition: 0.5s;
}


#prompt-three{
transition: 0.5s;
}


#html-one{
    transition: 0.5s;
}

#html-two{
    transition: 0.5s;
}

.project-set{
    gap: 30px;
    border-radius: 10px;
    width: 30em;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.project-set img{
    width: 400px;
    height: 100%;
    max-height: 200px;
    border-radius: 10px;
}


