body{
    font-family: cursive;
    max-width: 100%;
    max-height: 100%;
    margin-top: 100px;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}



#themeToggleButton{
    padding:0.5em 1em;
    border-radius: 10px;
}

#themeToggleButton:hover{
    cursor: pointer;
}


#themeToggleButton:active{
    transform: scale(1.08);
}


nav{
    width: 100vw;
    height: 1vh;
    padding: 1.5rem;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    transition: 0.3s;
}


header a{
    border: none;
    font-size: larger;
    padding: 0.5rem;
}

a{
    text-decoration: none;
}

nav a{
    transition: 0.5s;
}

nav a:hover{
    cursor: pointer;
    position: relative;
    transform: translateY(-5px);
}


a:visited{
    text-decoration: none;
}

.name{
    display: flex;
    align-items: center;
  justify-content: center;
}


h1 {
    transition: 0.5s;
    cursor: pointer;
}


.greetings:hover{
    transform: scale(1.1);
}



.skillsBox{
    border-radius: 10px;
    padding: 1.9rem;
    gap: 20px;
    position: relative;
    width: 50%;
    left: 25%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s;
    cursor: pointer;
}


.skillsBox:hover{
    transform: scale(1.1);
}


.skillsBox div{
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 0.45rem;
    gap: 50px;
    position: relative;
    font-size: large;
    display: inline-block;
    transition: 0.5s;
    cursor: pointer;
}


.skillsBox div:hover{
    transform: scale(1.1);
}


.skillTitle{
    text-align: center;
    transition: 0.5s;
}


.skillExplain{
    padding: 1.4rem;
    font-size: smaller;
}


.introInformation{
    position: relative;
    padding: 7px;
    width: 70%;
    left: 15%;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}


.contactInfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.gmailBtn{
    padding: 0.4rem;
    border-radius: 10px;
    transition: 0.5s;
    cursor:pointer;
}


svg {
  width: 24px;
  height: 24px;
}

.gitHubBtn{
    padding: 0.54em;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

.summary{
    border-radius: 10px;
    position: relative;
    width: 70%;
    left: 15%;
    margin: 20px;
    padding: 20px;
}